<?php
// setup contents
$polls = $html->div("polls","<h3>Poll</h3><div id=\"currentPoll\">&nbsp;</div>");
$store = $this->element("store_widget",array("number"=>4));

// render boxes

$out = $this->element("home_white_box",array("width"=>308,"noPadding"=>true,"content"=>$this->element("tag_cloud",array("tagNavTitle"=>((isset($tagNavTitle))?$tagNavTitle:null),"tagCloudModel"=>((isset($tagCloudModel))?$tagCloudModel:null)))));
$out.=$html->div("clearer",false,array("style"=>"height:2px"));
$out.=$this->element("home_white_box",array("width"=>308,"noPadding"=>true,"content"=>$html->div('center-align',$banner->display('box_a'))));
$out.=$html->div("clearer",false,array("style"=>"height:2px"));
$out.=$store;
$out.=$html->div("clearer",false,array("style"=>"height:2px"));
$out.=$this->element("home_white_box",array("width"=>308,"noPadding"=>true,"content"=>$html->div('center-align',$banner->display('box_b'))));
echo $out;
?>