<?php if(isset($song)) {?>
<div style="display:block;clear:both;margin:15px 0;line-height:17px">
    <object type="application/x-shockwave-flash"
            data="/player/musicplayer_f6.swf?&song_url=<?php echo $song;?>&"
            width="17" height="17">
        <param name="wmode" value="transparent" />
        <param name="movie"
               value="/player/musicplayer_f6.swf?&song_url=<?php echo $song;?>&" />
        <img src="noflash.gif"
             width="17" height="17" alt="" />
    </object>
    <b>Preview this audio</b>
</div>
    <?php }?>