<?php 
$number = !empty($number)? $number : 1;
switch($number){
	case 1:
		echo $this->element("home_white_box",array("width"=>320,"height"=>180,"padding"=> 10, 'contentstyle'=> 'overflow: hidden;',"paddingLeft"=>15,"content"=>
		 $html->tag('span','', array('class' => 'boxTitleSprite shop')).
		 '<div style="padding: 0 0 0 15px;height: 120px; overflow: hidden;position: absolute;">
		 <iframe width="180" scrolling="no" height="150" frameborder="0" 
		 	style="border: medium none ;" border="0" marginheight="0" 
		 	marginwidth="0" src="/store_widget.php?n=1"></iframe></div>'.
		 '<div style="position: absolute; bottom: 6px; left: 20px;"><a href="/store">Shop more ></a></div>'));
		break;
	case 4:
		echo $this->element('home_white_box',array("width"=>308, "height" => 250,"content" => 
		 $html->tag('span','', array('class' => 'boxTitleSprite shop','style' => 'margin-left:15px;margin-bottom:0;')).
		 '<div style="padding: 0 0 0 6px; overflow: hidden; height: 200px;">
		 <iframe width="300" scrolling="no" height="250" frameborder="0" 
		 	style="border: medium none ;" border="0" marginheight="0" 
		 	marginwidth="0" src="/store_widget.php?n=4"></iframe></div>'.
		 '<div style="position: absolute; bottom: 0; left: 20px;"><a href="/store">Shop more ></a></div>'));
		break;
}
?>
