/*
 * Liiv administration screen stylesheet
 * 
 * Color guidelines:
 * 
 * Brown: #3E2A12
 * Light blue: #57B6DD
 * Green: #B0D03D
 * 
*/

*{
    padding:0;
    margin:0;
}

ul {
    padding-left:1em;
    margin-left:0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #7E7E7E;
}

.index + p{
    font-size:10px;
    color:#7d7d7d;
    font-style:italic;
    text-align:right;
}

/* GENERAL Syling */
.paging .disabled{
    color:#7F7F7F;
}

.message{
    background:transparent url('../img/icons/alert.png') top left no-repeat;
    padding-left: 30px!important;
    background-position: 2px 50%;
    margin-bottom: 10px;
}

#flashMessage,#authMessage {
    padding: 8px;
    font-weight:bolder;
    color:#fff;
    background-color:#3E2A12;
}

a {
    color: #57B6DD;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {border: none;}

p {
    margin:0 0 8px 0;
}

#content{
    width:100%;
}

label{
    display:block;
    clear:both;
}

div.clear-float {clear: both;}

fieldset {
    padding: 15px;
    border-color: #3E2A12;
    border-style: solid;
    margin-bottom: 15px;
}

fieldset legend {
    display: inline-block;
    padding: 0 5px;
    font-size: 15px;
    color: #B0D03D;
    font-weight: bold;
}

form label, fieldset label {
    margin-bottom: 5px;
	margin-top: 10px;
}

form input, fieldset input, form select, fieldset select, form textarea, fieldset textarea { margin-bottom: 5px;}

h2 { color:#B0D03D; margin-bottom: 15px;}

table {
    border-collapse: collapse;
    margin-bottom: 15px;
    width: 100%;
}
table a {
    color:#25a9df;
}
th a {
    color: #404040;
    text-decoration: none;
}

th {
    border-bottom: 2px solid #57B6DD;
}

th a:hover {text-decoration: underline;}

td,th{ padding: 4px 8px; }

tr.altrow { background-color: #dcf5ff; border-bottom: 1px solid #9ccce0; border-top: 1px solid #9ccce0; }

td.actions a {
    color: #B0D03D;
    font-weight: bold;
}

textarea { width: 95%;}
textarea { width: 95%; height: 200px;}
form input[type='text'] { width: 95%;}

input[type='submit'], input[type='text'], select, textarea, input[type='password'] {
    display: block;
    border: 1px solid #57B6DD;
    background-color: #dcf5ff;
    color: #0093d0;
    padding: 3px;
}

input[type='submit'], input[type='button'] {
    font-weight:bolder;height:25px;padding-bottom:5px;font-size:12px;margin-top: 10px;cursor:pointer;background-color:#bddd4c;color: #627e00; border-color: #708f00; border-width:1px;text-transform:uppercase;
    background-image:url('../img/bg_btn.png');
    background-position:0% 100%;
    background-repeat:repeat-x;
    text-align:center;
}

input[type='submit']:hover, input[type='button']:hover, input[type='submit'].disabled, input[type='button'].disabled {
    background-position:0% 0%;
    background-repeat:repeat-x;
    color:#949D71;
}

input[type='text']:hover, select:hover, input[type='text']:focus, input[type='password']:focus, textarea:hover, textarea:focus {
    background: #ffffff;
}

div.input.checkbox {margin-top: 20px;}
div.input.checkbox label {display: inline; margin-left: 4px;}

div.checkbox {height: 30px;}
div.checkbox input, div.checkbox label{ display: inline;}
div.checkbox input {margin-right: 5px;}
/* TEMPLATE SECTIONS */

#logo {text-align: center; margin-bottom: 20px;}

#left_menu{
    width: 175px;
    float:left;
    padding-left: 10px;
    padding-right: 10px;
}

#admin_header {
    position:relative;
    line-height:24px;
    padding-top:10px;
    text-align:right;
    margin-right:20px;
}
#admin_header a:hover{
    text-decoration:none;
}

#right_body {
    margin-left: 195px;
    padding: 20px 20px 20px 6px;
}

#wrapper{
    width:100%;
    display:block;
    clear:both;
}

#wrapper #left,#wrapper #right{
    float:left;
    width:50%;
}

#UserLoginForm input {margin-left: auto; margin-right: auto;}
/* END TEMPLATE SECTIONS */

/* CONTENT */
div.paging div {
    display: inline;
}

.listing-actions {
    font-size: 15px;
    font-weight: normal;
    display: block;
   clear: none !important;
}

.listing-actions ul { padding: 0;}

.actions ul {padding: 0;}

div.paging {
    text-align: center;
}

div.actions ul {list-style-type: none;}

div.actions ul li,.actions a {clear:none;display:inline;margin-right:4px; }
div.actions ul li a:hover,.actions a:hover{text-decoration:underline;}

input#UserEmail {width: auto;}

#UserLoginForm div.submit-wrapper {
    width: 235px;
    text-align: center;
}
#UserLoginForm div.submit {
    margin: auto;
}
#UserLoginForm div.submit input {
    width: 45px; /* IE8 hack */
}

div.view h2, div.index h2 {display: block; margin-bottom: 8px;}

div.view dl {margin-top: 35px;}

div.unauthorized h2 {
	color: #FF2A2A;
	font-size: 28px;
	font-weight: bold;
}

div.unauthorized h1 { font-size: 34px; color:#FF2A2A;}

div.unauthorized p {color: #404040; font-size: 20px;}

.sublabel {font-size: 9px; font-style: italic;}
/* END CONTENT */

/* ACL */
p.aco,p.aro{
    margin-left:25px;
}
#accessControl label,#accessControl input[type="text"],#accessControl select,#accessControl input[type="submit"]{
    display:inline;
    clear:none;
    margin-right:5px;
}
/* END ACL */
a {}

.left{
    width:46%;
    float:left;
    clear:none;
}
.right{
    width:48%;
    float:left;
	padding-left: 10px;
    clear:none;
}
.actions{
    clear:both;
}
#upProgress{

    color:blue;
}
#upPercent,.percent{
    position:absolute;
    top:50px;
    right:25px;
    font-weight:bolder;
    color:green;
    font-size:16px;
}

dt{
    background-color:#e5e5e5;
    border:1px solid #c9c9c9;
    padding:2px;
    font-variant:small-caps;
    letter-spacing:2px;
}
dd{
    padding:4px 2px 10px 2px;
    font-size:12px;
    line-height:20px;
}

.related h3{
    color:#557FFF;
    margin:6px 0 10px 0;
    font-variant:small-caps;
    word-spacing:5px;
    letter-spacing:1px;
}

.view{
    margin-bottom:20px;
}

.actions + .related {
    margin-top:30px;
}

.related * td{
    font-size:11px;
    text-align: center;
}

.related * th{
    font-size:12px;
    background-color:#dcdcdc;
    border:1px dashed #d5d5d5;
    padding:2px;
}

td.actions{
    text-align:center;
}

.liivTodays form div.select{
    display:inline;
    clear:none;
    float:left;
    margin-right:5px;
}
.liivTodays form div.textarea{
    display:block;
    clear:both;
}

.autocomplete{
    display:none;
    background-color:#3E2A12;
    padding:5px;
    font-weight:bolder;
    color:#fff;
    letter-spacing:1px;
    line-height:22px;
    position:absolute;
    z-index:1000!important;
    max-height:200px;
    overflow-y:auto;
    overflow-x:hidden;
    width:470px!important;
}
div.result{
    width:99%;
    padding:2px;
    font-size:12px;
    cursor:pointer;
    position:relative;
}
div.result a{
    text-decoration:none;
    color:#fff!important;
}
div.result:hover,.resultHighlighted{
    background-color:#C3B29C;
    color:#000;
    border:1px dashed #B3A99A;
    padding:1px;
}
.result span.model{
    font-size:10px;
    font-weight:bolder;
    color:#FFFF00;
}
.thumbnail{
    width:60px;
    height:60px;
    margin:2px;
    border:1px solid #000;
    position:absolute;
    top:0px;
    right:2px;
}
.videos{
    height:64px;
    line-height:64px;
}
.input{
  position:relative;
}
.hidden{
    display:none!important;
}

img.logoutIcon {
	border : none;
	margin-bottom: -3px;
}
#selectedRelated{
    z-index:1;
}
#selectedRelated *{
    color:#000;
}
#selectedRelated a{
    color:#000!important;
}
#selectedRelated span.model{
    color:#5555FF!important;
}
#selectedRelated *{
    z-index:0!important;
}
span.delete{
    font-weight:bolder;
    font-variant:small-caps;
    letter-spacing:2px;
    color:#FF2A2A!important;
    font-size:11px!important;
}
.autoCompleteBox{
    position:relative;
    z-index:1;
    width:516px;
}
.sub .autoCompleteBox{
    width:98%;
}
.error-message,label.error{
    color:#FF557F;
    font-weight:bolder;
    font-size:12px;
    margin-bottom:5px;
    display:block;
    clear:both;
}
.primarySymptoms,.secondarySymptoms{
    border:1px dashed #dcdcdc;
    padding:10px;
    background-color:#eaeaea;
    margin-bottom:5px;
}

ul#selectedOptions { list-style-type: none; width: 332px;}

span.pollOptionItemAnswer {display: block;}
span.pollOptionItemAnswer, span.pollOptionItemMessage {max-width: 280px;}
a.pollOptionDelete {
	position: absolute;
	top: 4px;
	right: 4px;
}

a.pollOptionEdit {
	position: absolute;
	top: 24px;
	right: 4px;
}

li.pollOptionItem {
	border: 2px solid #57B6DD;
	margin-bottom: 5px;
	padding: 4px 4px 4px 24px;
	width: 300px;
	position: relative;
	background: white;
	min-height: 36px;
}
img.dragger { position: absolute; left: 0px; top: 10px;}
#PolloptionAddForm span.sublabel {margin-bottom: 6px; display: block;}

div.polls.form h3 {margin-bottom: 8px;}

div#successMessage {
	background: #B0D03D;
	width: 380px;
	height: 30px;
	position: fixed;
	top: 5px;
	left: 300px;
	opacity: 0.9;
	z-index: 200;
	padding: 10px;
	text-align: center;
	color: #fff;
	border: 2px solid #8eae1d;
	font-size: 25px;
}
fieldset.sub{
    border-width:1px;
    background:#e9e9e9;
    width:90%;
}
.sub input[type=radio]{
    display:inline;
    clear:none;
    margin:2px;
}
li.ui-state-default{
    position:relative;
}
#videoSeriesTrash{
    border:3px solid #FF0000;
    background:#E9E9E9;
    font-weight:bolder;
    padding:10px;
}
#ajaxProcess{
    position:absolute;
    left:45%;
    top:2px;
    font-weight:bolder;
    font-size:16px;
}
#StoryFeatured + label{
    display:inline;
    clear:none;
    margin-left:3px;
}
#searchBar{
	position: relative;
    text-align:left;
	width: 190px;
	float: left;
	clear: both;
}

#searchBar input[type="text"] {
	width: 130px;
	position: absolute;
	top: 0; 
	left: 0;
}
#searchBar input[type="button"]{
	margin: 0;
	position: absolute;
	top: 0;
	right: 15px;
}
input[type="button"]{
    padding-top:2px;
}
.editorOff{
    display:none;
}
.editorOn{
    display:block;
}
#accessControl h2:hover{
    color:#7FFF55;
    cursor:pointer;
}

li.active{background-color: #765E40 !important;}
li.active > a {color:#fff !important; font-weight: bold;}
.sf-menu a:hover{color:#fff !important;}
a.disabled{
	color:#555555!important;
}