*{
    padding:0;
    margin:0;
    font-family:'Arial', 'Geneva', 'Helvetica';
}

label{
    display:block;
    clear:both;
    margin-bottom:4px;
    font-size:12px;
    font-weight:bold;
}

#flashMessage,#authMessage {
    padding:3px;
    font-weight:bolder;
    color:#fff;
    background-color:#3E2A12;
}

/* LOGIN */
.login_form{
    width:235px;
    margin:0 auto;
    background:transparent url('../img/liiv.png') 3px 0 no-repeat;
    padding-top:170px;
    text-align:center;
}
