/*
 * Liiv frontend screen stylesheet
 *
 * Color guidelines:
 *
 * Dark brown: #352009
 * Light brown: #996633
*/

@CHARSET "UTF-8";

*{
	padding:0;
	margin:0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #3e2a12;
	background: #3E2912 url('../img/background.png') repeat-x;
	text-align: center;
	color: #352009;
}
.left{
	width: 49%;
	float:left;
}
.right{
	width: 49%;
	float:right;
}
.ui-widget { font-family: Arial, Helvetica, sans-serif; font-size: 13px; }

.center-align {text-align: center;width: 100%;}

div.clearfloat {clear:both;}

#container { width: 980px; text-align: left; margin: auto;}
#content {position: relative;z-index: 0;}
#header {width: 100%; height: 189px; position: relative;z-index: 2000;}

a,a:link,a:visited{text-decoration:none;color:#4bbdec;font-weight:bold}
a:hover,a:active{text-decoration:underline}
a,a:focus,a *:focus{outline:0 none}

img{border:0 none}

#logo {
	display: block;
	width: 247px;
	height: 148px;
	background: url('../img/mainSprite.png') no-repeat left -90px;
	float: left;
	margin: 7px 0 0 11px;
}

div#topRightBox {
	position: absolute;
	top: 37px;
	right: 0;
	width: 376px;
	height: 83px;
}

div#searchBox, div#findOn, div#loginBox, div#shareLinks a.facebook, div#shareLinks a.twitter,div#shareLinks a.share_this {background: transparent url('../img/mainSprite.png');}

div#loginBox {
	width: 376px;
	height: 23px;
	background-position: 0 0;
	position: absolute;
	top: 0;
	left: 0;
}

div#searchBox {
	position: absolute;
	top: 35px;
	right: 0;
	background-position: 0 -23px;
	width: 294px;
	height: 23px;
}

div#shareLinks {
	position: absolute;
	left: 84px;
	top: 73px;
	width: 300px;
	height: 30px;
}

div#findOn {
	background-position: 0 -46px;
	background-repeat: no-repeat;
	width: 60px;
	height: 12px;
}

div#shareLinks a.facebook, div#shareLinks a.twitter,div#shareLinks a.share_this {display: block; float: left; width: 16px; height:16px;}
div#shareLinks a.def {display: block; float: left; color: #996633; font-weight: bold; margin-left: 3px;}
div#shareLinks a.facebook {background-position: 0 -58px;margin-left: 30px;}
div#shareLinks a.twitter {background-position: 0 -74px; margin-left: 30px;}
div#shareLinks a.share_this {background-position: -16px -74px;}
div#shareLinks span {float: left; display: block;}
div#shareLinks span a span {float: none; display: inline;}
div#shareLinks a, div#shareLinks a:hover {color: #996633;}

div#footer {
	width: 100%;
	text-align: center;
	color: #5AB3C5;
	clear: both;
	padding: 20px 0 30px 0;
	font-size: 11px;
}
div#footer a {color: #5AB3C5;}

/* To remove the caption on elements that should only display an image, but keep SEO on */
.notext {text-indent: -9999px; display: block;}
/* MAIN MENU */
div#mainMenu {margin-bottom: 4px;}
div#mainMenu > * {
	display: block;
	float: left;
	height: 30px;
}
div#mainMenu {z-index: 1000; position: relative;}
div#mainMenu * {margin: 0;z-index: 1000;}
#mainMenu .leftEnd {
	float: left;
	width: 5px;
	background: transparent url('../img/mainSprite.png') no-repeat 0 -238px;
}
#mainMenu .rightEnd {
	float: left;
	width: 5px;
	background: transparent url('../img/mainSprite.png') no-repeat -5px -238px;
}
#mainMenu .container {background-image: none; background-color: #65BDE0; width: 970px;}
#mainMenu ul {list-style-type: none; list-style-image: none; -webkit-padding-start: 0;}
#mainMenu > ul {float: left; position: relative;}
#mainMenu ul > li {display: block;width: 148px; height: 30px;float: left;margin-right: 10px;position: relative; }
#mainMenu ul > li > a {
	display: block;
	width: 148px;
	padding-top: 7px;
	height: 23px;
	background: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}
#mainMenu ul li > a:hover, #mainMenu ul li > a.active {background: transparent url('../img/mainSprite.png') no-repeat -148px -268px;color: #334B5D;}
#mainMenu ul li.hasSubitems > a:hover, #mainMenu ul li.hasSubitems > a.active, #mainMenu ul :hover > a {background: transparent url('../img/mainSprite.png') no-repeat 0 -268px;color: #334B5D;}
#mainMenu ul li > div {
	width: 148px;
	position: absolute;
	top: 30px;
	left: 0;
	display: none;
}
#mainMenu ul li div ul {background: transparent url('../img/horizontalSprite.png') repeat-y; float: left;}
#mainMenu ul li div ul li {margin: 0;padding: 0 5px 0 5px; width: 138px; height: 24px;}
#mainMenu ul li div ul li a {
	display: block;
	width:132px;
	height: 19px;
	background: transparent url('../img/mainSprite.png') no-repeat 0 -298px;
	color: #4bbdec;
	padding: 5px 0 0 6px;
	text-align: left;
	text-transform: none;
	font-weight: bold;
	font-size: 13px;
}
#mainMenu ul li div ul li a:hover {background-image: none;background-color: #ACE0F0; color: #256380;}
#mainMenu ul li:hover div, #mainMenu ul li:hover span {display:block;}
#mainMenu ul li div div.endShadow {width: 148px; height: 4px;background: transparent url('../img/mainSprite.png') no-repeat 0 -322px; clear: both;}

/* Coming soon */
#mainMenu ul :hover > a.cSoon {background: transparent url('../img/mainSprite.png') no-repeat -148px -268px;color: #334B5D;}
#mainMenu .comingSoon {
	display: none;
	width: 154px;
	height: 50px;
	padding: 34px 0 0 7px;
	background: transparent url('../img/menuComingSoon.png') bottom left no-repeat;
	position: absolute;
	top: 30px;
	left: -6px;
	color: #3E2A12;
	font-size: 12px;
	line-height: 1.2em;
	vertical-align: middle;
	font-size: 12px;
}

#mainMenu .comingSoon a, #mainMenu .comingSoon:hover a, #mainMenu .comingSoon:hover a:hover{background: none;display: inline; color: #4BBDEC;}

/* END MAIN MENU */

/* HOMEPAGE */
div#slider {
	width: 325px;
	height: 419px;
	background: url('../img/cyclebg.jpg');
	float: left;
}


div#liivToday {
	width: 330px;
	height: 379px;
	background: url('../img/liiv_today_bg.jpg');
	float: left;
	padding-top:40px;
}

div.leftColumn, div.rightColumn, div.middleColumn { width: 320px; float: left;}
div.leftColumn {margin-right: 10px;}
div.middleColumn{margin-right:10px;}

#liivTodayAccordion{
	width:300px;
	margin:0 auto;
}
.LiivTodayType{width:96%;margin:0 auto;color:#fff;font-size:12px;}
.LiivTodayType a,.ui-accordion .ui-accordion-header a{
	color: #fff;
	font-size:12px;
	font-weight: bold;
}
.LiivTodayType a:hover{
	color:#fff;
}
#liivTodayAccordion .left{width:65%;}
#liivTodayAccordion .right{width:35%;text-align:center}
#liivTodayAccordion .left a, #liivTodayAccordion .left a:visited {color: #352009; text-decoration: none;}
#liivTodayAccordion .left a:hover {text-decoration: underline !important; color: #4BBDEC;}

form#SubscriberAddForm input{
	float: left;
	border: none;
	padding:2px 4px 0;
	color:#256380;
	height: 17px;
	font-size:11px;
}

form#SubscriberAddForm input#SubscriberFirstName, form#SubscriberAddForm input#SubscriberLastName{
	background: transparent url('../img/mainSprite.png') 0 -506px;
	margin-right:9px;
	width:84px;
	margin-top: 8px;
	margin-bottom: 12px;
}
form#SubscriberAddForm input#SubscriberEmail {
	background: transparent url('../img/mainSprite.png') 0 -525px;
	margin-right:5px;
	width:185px;
}

form#SubscriberAddForm #SubscriberSubmit {
	background: transparent url('../img/mainSprite.png') 0 -544px;
	width:54px;
	height: 22px;
	border: none;
	float: left;
	margin-top: -2px;
	margin-left: 10px;
	cursor: hand;
}
form#SubscriberAddForm .ajaxLoader {
	border: none;
	float: left;
	margin-top: -2px;
	margin-left: 10px;
	display: none;
}
/* END HOMEPAGE */

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: none; background: none; font-weight: inherit; color: inherit; outline: none; }
.ui-state-default, .ui-widget-content .ui-state-default { border: none; background: none; font-weight: inherit; color: inherit; outline: none; }
.ui-accordion .ui-accordion-content {padding: 4px; border-top: 0;margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: hidden; display: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: none; background: none; font-weight: inherit; color: inherit; outline: none; }
.ui-widget-content { border: none; background: #fff; color: inherit; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 12px; padding: 0 0 3px 0; }

/** icon headers **/
.ui-accordion .ui-accordion-header { border-bottom:1px solid #B3F5FF;cursor: pointer; position: relative; margin-top: 5px; zoom: 1; }
.ui-icon{width:8px;height:4px}
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; right: .5em; top: 6.5px; margin-top: 0px; }
.ui-state-default .ui-icon { background:url('../img/icons/arrow-up.png') no-repeat top left; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-state-active .ui-icon{
	background:url('../img/icons/arrow-down.png') no-repeat top left;
}

/* White boxes */
.clearer{
	display:block;
	clear:both;
	margin:5px 0;
}
/* HOMEPAGE */
div#middleContent {
	margin-top: 4px;
	height:425px;
	display:block;
	clear:both;
}

h2.boxTitle {
	width: 106px;
	height: 20px;
	background: url('../img/homepage_titles.png') no-repeat;
	margin: 0; padding: 0;
}

h2.boxTitle.featuredVideos {
	background-position: 0 -20px;
}
.boxTitleSprite {background: transparent url('../img/mainSprite.png'); height: 20px; display: block; margin: 0 0 5px -3px;}

.boxTitleSprite.signUp {background-position: 0 -486px;width: 200px;}
.boxTitleSprite.shop {background-position: 0 -566px;width: 40px;}
.boxTitleSprite.stories {background-position: 0 -586px;width: 150px;}
.boxTitleSprite.videos {background-position: 0 -606px;width: 150px;}

div.date{
	text-transform: uppercase;
	font-weight:bolder;
	font-size:12px;
	width:100%;
	text-align: center;
}
div.date img{
	margin:0 3px;
	cursor:pointer;
}
/* Transparent box */
div.transparentbox{display:inline;clear:none;float:left;}
div.transparentbox div.box-header{width:100%;background:transparent;display:block;clear:both}
div.transparentbox div.box-header div.middle{float:left;clear:none;display:inline;height:7px;background:transparent url(/img/transparentroundcorners-background.png)}
div.transparentbox div.box-header div.top-left{background: transparent url(/img/transparentroundcorners.png) no-repeat scroll 0 0; float: left; clear: none; display: inline; width: 7px; height: 7px;}
div.transparentbox div.box-header div.top-right{background: transparent url(/img/transparentroundcorners.png) no-repeat scroll -7px 0; float: left; clear: none; display: inline; width: 7px; height: 7px;}
div.transparentbox div.box-header div.bottom-left{background: transparent url(/img/transparentroundcorners.png) no-repeat scroll 0 -7px; float: left; clear: none; display: inline; width: 7px; height: 7px;}
div.transparentbox div.box-header div.bottom-right{background: transparent url(/img/transparentroundcorners.png) no-repeat scroll -7px -7px; float: left; clear: none; display: inline; width: 7px; height: 7px;}
div.transparentbox div.box-content{background:transparent url(/img/transparentroundcorners-background.png);display:block;clear:both;text-align:center}

/* Default White box */
div.box{display:inline;clear:none;float:left;}
div.box div.box-header{width:100%;background:transparent;display:block;clear:both}
div.box div.box-header div.middle{float:left;clear:none;display:inline;height:7px;background:#fff}
div.box div.box-header div.top-left{background: transparent url(/img/roundcorners.png) no-repeat scroll 0 0; float: left; clear: none; display: inline; width: 7px; height: 7px;}
div.box div.box-header div.top-right{background: transparent url(/img/roundcorners.png) no-repeat scroll -5px 0; float: left; clear: none; display: inline; width: 7px; height: 7px;}
div.box div.box-header div.bottom-left{background: transparent url(/img/roundcorners.png) no-repeat scroll 0 -5px; float: left; clear: none; display: inline; width: 7px; height: 7px;}
div.box div.box-header div.bottom-right{background: transparent url(/img/roundcorners.png) no-repeat scroll -5px -5px;; float: left; clear: none; display: inline; width: 7px; height: 7px;}
div.box div.box-content{background:#fff;display:block;clear:both;padding-top:5px;}
div.box div.box-content h2, h3, h4 {margin: 0;} /* Fix for Safari */



/* Full width two columns layout */
div.twoColsTop, div.twoColsMiddle, div.twoColsBottom {background: transparent url('../img/twoCols.png'); width: 980px;}
div.twoColsTop {height: 6px; background-position: 0 0;}
div.twoColsMiddle {background: transparent url('../img/twoColsMiddle.png') repeat-y;}
div.twoColsBottom {height: 6px; background-position: 0 -14px;}
div.twoColsLeft {width: 620px; padding: 10px 20px 10px 20px; float: left;}
div.twoColsRight{width: 314px;float: left;padding-left: 6px;}

div.twoColsLeft p, div.spaced p {margin: 1em 0;}

.static-content-title{font-family: Arial, Helvetica, sans-serif; font-size:18px; color:#256380;margin-bottom:15px; font-weight: normal;}
.static-content-body ul{list-style:circle url(/img/content-bullet.jpg);padding-left:50px;}

/* DEBUG */
.cake-sql-log {color: #fff;}
.cake-sql-log table {border-collapse: collapse;}
.cake-sql-log td, .cake-sql-log tr  {padding: 5px; border: solid 1px #5AB3C5;}


#homePager a{
	width:50px;
	height:18px;
	border:1px solid #000;
}
#homeSlider img{
	cursor:pointer;
}
.pagerItem{
	width:32px;
	height:9px;
	border:1px solid #67B9D1;
	background:#77cbe8;
	display:inline;
	clear:none;
	float:left;
	margin-right:1px;
	cursor:pointer;
}
.pagerItem:hover,.activeSlide{
	background:#b4d3e9;
}
.clickHere{
	display:inline;
	clear:both;
	background:transparent url(/img/icons/arrow-right-b.png) no-repeat scroll 98% 50%;
}
#homeDescription{
	color:#fff;
	padding:2px;
}
#homeDescription p{
	margin:0;
}
.front_view{
	width:980px;
}
.front_view_top{
	background:transparent url(/img/front_item_view.png) no-repeat 0 0;
	height:5px;
}
.front_view_bottom{
	background:transparent url(/img/front_item_view.png) no-repeat 0 100%;
	height:5px;
	width:100%;
}
.front_view_middle{
	background:transparent url(/img/front_item_view_bg.png) repeat-y 0 0;
	width:100%;
	position:relative;
}
.front_view_middle > .right{
	width:315px;
	position:absolute;
	top:0;
	right:0;
}
.front_view_middle > .left{
	width:640px;
	float:none;
	padding:15px;
}
.tag{
	margin:2px;
	color:#256380;
	display:inline-block;
}
#tag{
	width:100%;
	text-align: center;
}

.currentTag a{
	color:#4BBDEC!important;
}

.tag a{
	color:#256380;
}

.tagCloud,.polls{
	padding:15px;
}
#ConditionTags a{
	text-decoration: none;
	color:#256380;
}
h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
}
h2,h3{
	color:#256380;
	margin-bottom:0;
}
h3{
	margin-bottom:15px;
}
#conditionBody{
	padding:15px;
	width:656px;
}
ul{
	list-style-image: url("/img/li_dot.png");
}

div.loggedBox {
	text-align: right;
}

}
li{
	margin-left:10px;
}

ol {
	-moz-padding-start:40px;
	display:block;
	list-style-type:decimal;
	margin:1em 0;
	padding-left: 1em;
}


#answers{
	margin:10px auto;
	line-height: 24px;
}
#answers input[type=radio]{
	margin-right:5px;
}
#answers input[type=button]{
	border:2px solid #CCFF66;
	background:#2ABFFF;
	padding:1px 11px 1px 11px;
	text-transform:uppercase;
	font-weight:bolder;
	font-size:12px;
	color:#fff;
	cursor:pointer;
}
a.slideLink{
	text-transform: uppercase;
	display:inline;
	clear:left;
	font-size:12px;
	margin-right:3px;
}
.introduction,.short_definition,.long_definition,.definition_short,.definition_long,.holistic_approach,.standard_approach{
	margin-bottom:15px;
}
.benefits_text{
	width: 305px; float: left;
}
.condition_symptoms {padding: 15px 0 0 4px;}
.benefits_list,.healing_therapies,.related, .condition_symptoms > * {
	float:left;
}
.healing_therapies, .benefits_list, .conditions_list {padding: 1em 0 0 1.5em;}
.related{
	width:125px;
	border-left:1px solid;
	border-left-color: #4BBDEC;
	padding:0 10px 0 10px;
	min-height:140px;
}
.related h2{
	margin-bottom:6px;
}
a.moreLink{
	font-size:11px;
	text-decoration:none;
	margin-left:12px;
	display:block;
	clear:both;
}
.view ul {padding-left: 1.1em;}

ul.listStyle, div.related ul {
	padding-left: 1em;
	font-weight:normal;
}

ul.listStyle li {	margin-bottom: 0em; }
div.related ul li {margin-bottom: 0.4em;}

ul.listStyle li a, div.related ul li a {
	text-decoration: none;
	color:#352009;
}

ul.listStyle li a:hover, div.related ul li a:hover {
	color: #4BBDEC;
	text-decoration: none;
}

ul.leftList, ul.rightList {width: 270px; float: left;padding-right: 10px;}

div.conditions.index div.twoColsLeft h3, div.therapies.index div.twoColsLeft h3, div.traditions.index div.twoColsLeft h3 {color: #352009;}

div.headerBanner {width: 100%; text-align: center; padding: 10px;}

div.shareThis a {
	height: 24px;
	background: transparent url('../img/mainSprite.png');
	padding: 8px 20px 0 38px;
	display: block;
	float: left;
	font-weight: bolder; font-size: 14px;
	color:#352009;
}

div.shareThis a:hover { color: #4BBDEC }

div.shareThis a.twitter {background-position: 0 -326px;}
div.shareThis a.stumbleUpon {background-position: 0 -358px;}
div.shareThis a.facebook {background-position: 0 -390px;}
div.shareThis a.digg {background-position: 0 -422px;}
div.shareThis a.stico_default{background: transparent url('../img/mainSprite.png') 0 -454px !important;}

.featured p{
	margin:0!important;
	line-height: 18px;
}
.featuredIntro{
	color:#352009;
}
.featuredIntro h3{
	margin-bottom:2px;
}
.featuredIntro span.date{
	clear:both;
	color:#4BBDEC;
	font-weight:bolder;
	font-size:11px;
}
.featuredIntro #storyContentTruncated{
	margin:5px 0;
}

.featuredIntro #storyContentTruncated{margin:5px 0}
/* Video player */
div.twoColsLeft.player{width:640px;padding:10px}
div.video-description-short{margin:10px 0 0;padding:5px}
div.video-description-short img{margin:5px;float:right}
div#player-container,div#player-container a#player-video,div#player-container div#player-controls{width:100%;clear:both}
div#player-container a#player-video{height:384px;display:block}
div#player-container div#player-controls{height:42px;line-height:42px;background-color:#352009;display:none}
div#player-container div#player-controls a{font-family:Arial,sans-serif;font-size:12px;text-decoration:none !important;margin:0 15px}
div#player-container div#player-controls a:link,div#player-container div#player-controls a:visited{color:#514E40}
div#player-container div#player-controls a:hover,div#player-container div#player-controls a:active{color:#4BBDEC}
div#player-container div#player-controls a#player-lowRes{display:none}
div#player-container div#player-controls a#player-cc{line-height:18px;border:1px solid;padding:0 3px;display:inline-block}
div#player-embed-dialog{width:400px !important;margin:0;padding:20px;display:none;overflow:hidden}
div#player-embed-dialog textarea{width:100%;height:180px;margin:0;overflow:auto}