<?php $paginator->options(array("url"=>$filter)); 
/*echo $javascript->codeBlock("
j(function(){
    j('#Filter').change(function(){
        location.href = '/admin/banners/index/'+j('#Filter').attr('value');
    });
});
",array("inline"=>false));*/
?>
<div class="banners index">
    <h2><?php __('Banners');
        //echo $form->select("Filter",$positions,$filter,array("div"=>false,"label"=>false,"style"=>"display:inline;clear:none;margin-left:10px"),false);?>
    </h2>
    
	<div class="actions listing-actions actions-inline">
	    <ul>
	        <li><?php echo $html->link(__('New Banner', true), array('action' => 'add')); ?></li>
	    </ul>
	</div>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th><?php echo $paginator->sort('title');?></th>
            <th><?php echo $paginator->sort('created');?></th>
            <th><?php echo $paginator->sort('updated');?></th>
            <th class="actions"><?php __('Actions');?></th>
        </tr>
        <?php
        $i = 0;
        foreach ($banners as $banner):
            $class = null;
            if ($i++ % 2 == 0) {
                $class = ' class="altrow"';
            }
            ?>
        <tr<?php echo $class;?>>
            <td>
                    <?php echo $banner['Banner']['title']; ?>
            </td>
            <td>
                    <?php echo $banner['Banner']['created']; ?>
            </td>
            <td>
                    <?php echo $banner['Banner']['updated']; ?>
            </td>
            <td class="actions">
                    <?php echo $html->link(__('View', true), array('action' => 'view', $banner['Banner']['id'])); ?>
                    <?php echo $html->link(__('Edit', true), array('action' => 'edit', $banner['Banner']['id'])); ?>
                    <?php echo $html->link(__('Delete', true), array('action' => 'delete', $banner['Banner']['id']), null, sprintf(__('Are you sure you want to delete # %s?', true), $banner['Banner']['id'])); ?>
            </td>
        </tr>
        <?php endforeach; ?>
    </table>
</div>
<p>
    <?php
    echo $paginator->counter(array(
    'format' => __('Page %page% of %pages%, showing %current% records out of %count% total, starting on record %start%, ending on %end%', true)
    ));
    ?></p>
<div class="paging">
    <?php echo $paginator->prev('<< '.__('previous', true), array(), null, array('class'=>'disabled'));?>
    | 	<?php echo $paginator->numbers();?>
    <?php echo $paginator->next(__('next', true).' >>', array(), null, array('class' => 'disabled'));?>
</div>
