<?php
$rightContent  = '<h1 class="static-content-title">Contact us</h1>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper mollis viverra. Etiam vitae nisi a sem vulputate luctus sit amet dignissim magna. Nam nec egestas dui. Ut nunc nisl, dapibus et viverra et, volutpat a mauris. Morbi vulputate, sem hendrerit fringilla dapibus, lectus risus mollis mi, non tempus nisi eros id massa. Proin dolor neque, porttitor nec posuere id, dapibus vel erat. Nullam sollicitudin scelerisque dui sit amet aliquam. Praesent ultrices vulputate nisl nec aliquam. Duis volutpat magna id diam suscipit accumsan. Quisque vitae scelerisque lacus. In non erat nulla, sodales fringilla dolor. Nullam vitae felis ligula, sit amet pharetra nulla. Nam arcu nibh, fermentum non vulputate a, tincidunt quis urna. Quisque eu tincidunt turpis. Praesent id tempor tortor. Integer erat sem, suscipit vitae vehicula eu, consequat sed felis. Aenean pulvinar adipiscing tincidunt.
Suspendisse potenti. Nulla tempor quam a magna posuere a lobortis lorem ornare. Vivamus id lacus a velit sollicitudin sodales vel ac arcu. Vivamus a est eget lectus fringilla viverra. Nullam eu lectus at tortor consectetur feugiat. Integer viverra mollis nunc, sit amet iaculis est accumsan et. Integer placerat vulputate dolor vel fringilla. Fusce venenatis convallis congue. Praesent vel consequat urna. Nullam vitae risus tortor, et eleifend tortor. Phasellus id nunc quis arcu lobortis volutpat. Vivamus sagittis ultrices urna, sed hendrerit ante interdum posuere. Proin erat elit, blandit sed ornare vitae, porta tincidunt nulla. Donec scelerisque facilisis neque quis fringilla. Proin fringilla laoreet elit, a malesuada risus aliquet sodales. Donec ut justo eget quam semper fermentum ut a nunc.';
?>
<div class="view page spaced">
<?php 
	echo $this->element('home_white_box', array('width' => 980, 'content' => $html->div(null,$rightContent, array('style' => 'padding: 0 5px 0 10px;'))));
?>
</div>
<div class="clearer" style="margin:0px"></div>