<?php
echo $wyswig->attach('TicketResume');
?>
<div class="tickets form">
<?php echo $form->create('Ticket');?>
	<fieldset>
 		<legend><?php __('Add Ticket');?></legend>
	<?php
		echo $form->input('user_id');
		echo $form->input('subject');
		echo $form->input('resume', array('label' => 'Content'));
	?>
	</fieldset>
<?php echo $form->end('Submit');?>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('List Tickets', true), array('action' => 'index'));?></li>
	</ul>
</div>
