<div class="journals form">
<?php echo $form->create('Journal');?>
	<fieldset>
 		<legend><?php __('Add Journal');?></legend>
	<?php
	?>
	</fieldset>
<?php echo $form->end('Submit');?>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('List Journals', true), array('action' => 'index'));?></li>
	</ul>
</div>
