<div class="subscribers index">
<h2><?php __('Subscribers');?></h2>
<p>
<?php
echo $paginator->counter(array(
'format' => __('Page %page% of %pages%, showing %current% records out of %count% total, starting on record %start%, ending on %end%', true)
));
?></p>
<table cellpadding="0" cellspacing="0">
<tr>
	<th><?php echo $paginator->sort('id');?></th>
	<th><?php echo $paginator->sort('email');?></th>
	<th><?php echo $paginator->sort('first_name');?></th>
	<th><?php echo $paginator->sort('last_name');?></th>
	<th class="actions"><?php __('Actions');?></th>
</tr>
<?php
$i = 0;
foreach ($subscribers as $subscriber):
	$class = null;
	if ($i++ % 2 == 0) {
		$class = ' class="altrow"';
	}
?>
	<tr<?php echo $class;?>>
		<td>
			<?php echo $subscriber['Subscriber']['id']; ?>
		</td>
		<td>
			<?php echo $subscriber['Subscriber']['email']; ?>
		</td>
		<td>
			<?php echo $subscriber['Subscriber']['first_name']; ?>
		</td>
		<td>
			<?php echo $subscriber['Subscriber']['last_name']; ?>
		</td>
		<td class="actions">
			<?php echo $html->link(__('View', true), array('action' => 'view', $subscriber['Subscriber']['id'])); ?>
			<?php echo $html->link(__('Edit', true), array('action' => 'edit', $subscriber['Subscriber']['id'])); ?>
			<?php echo $html->link(__('Delete', true), array('action' => 'delete', $subscriber['Subscriber']['id']), null, sprintf(__('Are you sure you want to delete # %s?', true), $subscriber['Subscriber']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
</table>
</div>
<div class="paging">
	<?php echo $paginator->prev('<< '.__('previous', true), array(), null, array('class'=>'disabled'));?>
 | 	<?php echo $paginator->numbers();?>
	<?php echo $paginator->next(__('next', true).' >>', array(), null, array('class' => 'disabled'));?>
</div>
<div class="actions">
	<ul>
		<li><?php echo $html->link(__('New Subscriber', true), array('action' => 'add')); ?></li>
	</ul>
</div>
